<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a comment</title>
</head>

<body>
    <h1>You comment id is <%=uniqueId%>
    </h1>

    <h2>Edit your comment</h2>

    <form method="POST" action="/comments/<%=uniqueId%>/edit?_method=PATCH">
        <label for="comment">Edit Comment</label>
        <textarea name="comment" id="comment" cols="30" rows="10"><%=uniqueComment.comment%></textarea>
        <button>Edit</button>
    </form>
    <a href="/comments/mainpage">Back to all comments</a>
</body>

</html>