<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new comment</title>
</head>

<body>
    <h1>Create your new comment here and post it!</h1>
    <form method="POST" action="/comments/form">
        <label for="username"></label>
        <input type="text" name="username">
        <label for="comment"></label>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
        <button>Add Comment</button>
    </form>
</body>

</html>