<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Comment</title>
</head>

<body>
    <h1>You comment id is <%=uniqueId%>
    </h1>

    <h2>Please view or Edit your comment</h2>

    <p>
        <%=uniqueComment.comment%>
    </p>

    <a href="/comments/mainpage">Back to all comments</a>
    <a href="/comments/<%=uniqueId%>/edit">Edit Comment</a>
</body>

</html>