<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit a single comment</title>
</head>

<body>
    <h1>Edit your comment here:</h1> /comments/:id
    <form method="POST" action="/comments/<%=commentId.id%>?_method=PATCH">
        <textarea name="comment" id="" cols="30" rows="10">
        <%=commentId.comment%>
    </textarea>
        <button>Save changes and submit comment</button>
    </form>
    <a href="/comments">Back to all comments</a>
</body>

</html>