<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Comment</title>
</head>

<body>
    <h1>Comment ID is: <%=commentId.id%>
    </h1>
    <h2>
        <%=commentId.comment%> posted by <%=commentId.username%>
    </h2>
    <a href="/comments">Back to all comments</a>
</body>

</html>