<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Home Page</title>
</head>

<body>
    <h1>Hello, World! <%='Hello, peeps!'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur modi officia, delectus blanditiis iste
        animi natus magni dolor provident fuga et quia, corporis placeat mollitia reprehenderit dolores necessitatibus,
        doloribus libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, labore molestiae, culpa a
        autem ducimus amet minima cumque assumenda delectus facere, tenetur sit! Officiis, impedit vitae. Dolorum et
        veritatis eaque?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut cumque consequuntur culpa eius voluptate optio
        adipisci, earum a blanditiis vel dolores exercitationem, ipsum modi aperiam, harum doloremque quis accusantium
        laboriosam!</p>
</body>

</html>